@import "tailwindcss";
:root{

    --app-font: Inter;

}



*{

    font-family: var(--app-font), sans-serif;

}




html[data-theme="light"]{

    background:white;

}



html[data-theme="dark"]{

    background:#020617;

}